.section-container {
  padding: 6rem 0 4rem;

  .section-title {
    font-weight: 700;
    text-align: center;
  }

  .section-subtitle {
    font-size: 1.2rem;
    color: color(grey);
    text-align: center;
    margin-bottom: $margin-bottom;
  }

  @include media-breakpoint-down(sm) {
    padding: 4rem 0 2rem;
  }
}

// home
.home-section {
  position: relative;
  min-height: 600px;
  height: 100vh;
  display: flex;

  .container {
    margin-top: auto;
    margin-bottom: auto;
    max-width: $container-max-width;
  }

  .description {
    margin-bottom: $margin-bottom;
    line-height: 175%;
  }

  .right-panel {
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-image-square-container {
      @include btn-gradient;
      width: 70%;
      min-width: 100px;
      max-width: 350px;
      aspect-ratio: 1;
      overflow: hidden;
      border-radius: 50%;
      background-color: color(primary);
      margin-bottom: 2rem;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .big-profile-image-container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 55%;
    border-radius: 50%;

    img {
      position: relative;
      height: 85%;
      width: auto;
    }
  }

  .circle {
    @include btn-gradient;
    position: absolute;
    top: 25%;
    right: 10%;
    height: 45%;
    aspect-ratio: 1;
    background-color: color(primary);
    z-index: -10;
    border-radius: 50%;
  }

  @include media-breakpoint-down(md) {
    text-align: center;

    .left-panel {
      padding-bottom: 2rem;
    }

    button {
      margin: auto;
    }

    .big-profile-image-container,
    .circle,
    .triangle {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    .section-title,
    .section-subtitle {
      text-align: left;
    }

    .profile-image-square-container {
      display: none;
    }
  }
}
// end of home

// about
.about-section {
  .container {
    display: flex;
    align-items: center;
    flex-flow: column;

    .description {
      max-width: $max-width;
      text-align: center;
      margin-bottom: $margin-bottom;
      line-height: 175%;
    }

    .info-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .inner-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 0 1rem;
        margin-bottom: $margin-bottom;

        .animated-number {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          font-weight: 700;
        }

        span {
          color: color(grey);
          text-align: center;
        }
      }
    }
  }
}
// end of about

// qualitifcation
.qualification-section {
  .container {
    max-width: 700px;

    .tab-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow-x: scroll;
      padding-bottom: 1rem;

      .tab-item {
        @include select-none;
        @include transition(all 200ms ease-in-out);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 1rem;
        margin: 0 0.5rem;
        cursor: pointer;

        svg {
          color: color(grey);
          font-size: 2rem;
        }

        span {
          font-size: 1.5rem;
          font-weight: 700;
          color: color(grey);
          margin-left: 1rem;
          line-height: 1.5rem;

          @include media-breakpoint-down(sm) {
            margin-left: 0;
            margin-top: 0.2rem;
          }
        }

        &:hover {
          background-color: color(secondary);
          opacity: 0.5;

          svg,
          span {
            color: color(white);
          }
        }

        &:active {
          background-color: color(primary-dark) !important;
        }

        &.active {
          @include btn-gradient;

          &:hover {
            @include btn-gradient-hover;
            opacity: 1;
          }

          &:active {
            @include btn-gradient-active;
          }

          svg,
          span {
            color: color(white);
          }
        }
      }
    }

    .swiper-initialized {
      z-index: 0;
    }

    .qualification-timeline-container {
      display: flex;
      justify-content: center;
    }

    .qualification-timeline {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      column-gap: 1.5rem;
      margin-top: 2rem;
      max-width: 500px;

      .qualification-data {
        display: flex;
        flex-direction: column;

        .qualification-title {
          font-size: 1rem;
          font-weight: 700;
          color: color(black);
          text-align: left;
        }

        .qualification-subtitle {
          font-size: 1rem;
          color: color(grey);
          margin-bottom: 0.5rem;
          text-align: left;
        }

        .qualification-year {
          display: flex;
          align-items: flex-start;

          svg {
            color: color(grey);
            margin-top: 0.2rem;
            margin-right: 0.5rem;
          }

          span {
            font-size: 1rem;
            color: color(grey);
          }
        }
      }

      .divider {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-size: 0;
          margin: 0;
          padding: 0;
          line-height: 0;
        }

        svg {
          font-size: 1rem;
          color: color(primary);
        }

        .line {
          @include btn-vertical-gradient;
          height: 100%;
          width: 2px;
        }
      }
    }
  }
}
// end of qualitifcation

// media
.media-section {
  .container {
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 900px;

    .media-container {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      width: 100%;

      .navigator {
        @include select-none;
        cursor: pointer;

        &:hover {
          opacity: $hover-opacity;
          svg {
            transform: translateY(-0.15rem);
          }
        }

        &:active {
          opacity: $active-opacity;
        }

        svg {
          @include transition(all 200ms ease-in-out);
          width: 5rem;
          font-size: 2rem;
          color: color(primary);
        }
      }

      @include media-breakpoint-down(md) {
        .navigator {
          svg {
            width: 3rem;
          }
        }
      }
    }

    .indicator-container {
      display: flex;
      align-items: center;
      margin-bottom: $margin-bottom;

      svg {
        @include transition(all 50ms ease-in-out);
        margin: 0 0.4rem;
        font-size: 0.5rem;
        color: color(grey);
        opacity: 0.7;
        cursor: pointer;

        &:hover {
          font-size: 0.6rem;
          margin: 0 0.35rem;
          color: color(primary);
        }
      }

      .active {
        font-size: 0.6rem;
        margin: 0 0.35rem;
        color: color(primary);
        opacity: 1;
      }
    }
  }
}
// end of media

// tool
.tool-section {
  .container {
    max-width: $container-max-width;

    .image-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .image-inner-container {
        @include transition(all 200ms ease-in-out);
        @include select-none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1.3rem;
        overflow: visible;
        text-decoration: none;

        &:hover {
          @include text-gradient;
          transform: translateY(-0.75rem);
        }

        img {
          cursor: pointer;
          height: 80px;
          width: auto;
          overflow: visible !important;
        }

        span {
          font-size: 1rem;
          font-weight: 600;
          margin-top: 0.4rem;
          color: color(grey);
        }

        @include media-breakpoint-down(md) {
          margin: 1rem;
          img {
            height: 60px;
          }
        }
      }
    }
  }
}
// end of tool

// contact
.contact-section {
  .container {
    max-width: $container-max-width;

    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .right-panel {
      textarea {
        height: 200px;
      }
    }

    .confirm-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        height: auto;
        width: 50%;
        min-width: 150px;
        max-width: 200px;
        margin-bottom: 1rem;
      }

      .confirm-message-title {
        @include text-gradient;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5rem;
        font-weight: bold;
        margin: 0.5rem;
        color: color(primary);
      }

      .confirm-message-subtitle {
        text-align: center;
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }
}
// end of contact

// not found
.not-found-section {
  min-height: 70vh;

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-panel {
    display: flex;
    align-self: center;
    justify-content: center;

    img {
      width: 100%;
      max-width: 250px;
      height: auto;
    }

    @include media-breakpoint-down(md) {
      margin: 40px 0;
    }
  }

  .right-panel {
    display: flex;
    align-self: center;
    justify-content: flex-start;
    flex-direction: column;

    .title {
      font-weight: bold;
      font-size: 4rem;
    }

    .description {
      margin-bottom: $margin-bottom;
      line-height: 175%;
    }

    .back-button {
      width: auto;
    }

    @include media-breakpoint-down(md) {
      margin: 40px 0;

      .title {
        text-align: center;
      }

      .description {
        text-align: center;
      }

      .button-container {
        display: flex;
        justify-content: center;
      }
    }
  }
}
// end of not found

// footer
footer {
  min-height: 300px;
  padding: 4rem 0;
  background: linear-gradient(to right top, color(primary), color(secondary));

  @include media-breakpoint-down(sm) {
    background: color(primary);
  }

  .container {
    @include transition(all 200ms ease-in-out);
    color: color(white);
    font-weight: bold;

    .site-map {
      display: flex;
      font-size: 1.2rem;

      a {
        @include select-none;
        margin: 0 auto;
        text-decoration: none;
        color: color(white);
        cursor: pointer;

        &:hover {
          opacity: $hover-opacity;
        }

        &:active {
          opacity: $active-opacity;
        }
      }

      @include media-breakpoint-down(lg) {
        flex-direction: column;

        a {
          margin: 0 0 0.5rem 0;
        }
      }

      @include media-breakpoint-down(md) {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }

    .social-media {
      @include select-none;
      display: flex;
      justify-content: center;

      a {
        margin: 0 auto;
        color: white;
      }

      svg {
        font-size: 2rem;
        cursor: pointer;

        &:hover {
          opacity: $active-opacity;
        }
      }

      @include media-breakpoint-down(md) {
        justify-content: flex-start;

        a {
          margin: 0 1rem 0 0;
        }
      }
    }
  }
}
// end of footer
