// media query
@mixin min($breakpoint, $max: "null", $device: "screen") {
  @if $max == "null" {
    @media only #{$device} and (min-width: #{$breakpoint}) {
      @content;
    }
  } @else {
    @media only #{$device} and (min-width: #{$breakpoint}) and (max-width: #{$max}) {
      @content;
    }
  }
}

@mixin select-none {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin transition($attribute) {
  -webkit-transition: $attribute;
  -moz-transition: $attribute;
  -o-transition: $attribute;
  -ms-transition: $attribute;
  transition: $attribute;
}

@mixin shadow {
  box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.2);
}

@mixin shadow-1 {
  box-shadow: 8px 8px 12px rgba(122, 122, 122, 0.2);
}

@mixin no-shadow {
  box-shadow: none;
}

@mixin btn-gradient {
  background-image: linear-gradient(
    to right,
    color(primary) 0%,
    color(secondary) 51%,
    color(primary) 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
}

@mixin btn-gradient-hover {
  background-position: right center; /* change the direction of the change here */
}

@mixin btn-gradient-active {
  background-position: center center; /* change the direction of the change here */
}

@mixin btn-vertical-gradient {
  background-image: linear-gradient(
    to bottom,
    color(primary) 0%,
    color(secondary) 51%,
    color(primary) 100%
  );
  background-size: auto 200%;
  transition: 1s;
}

@mixin btn-vertical-gradient-hover {
  background-position: bottom center; /* change the direction of the change here */
}

@mixin btn-vertical-gradient-active {
  background-position: center center; /* change the direction of the change here */
}
