// media query
@mixin min($breakpoint, $max: "null", $device: "screen") {
  @if $max == "null" {
    @media only #{$device} and (min-width: #{$breakpoint}) {
      @content;
    }
  } @else {
    @media only #{$device} and (min-width: #{$breakpoint}) and (max-width: #{$max}) {
      @content;
    }
  }
}

@mixin select-none {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin transition($attribute) {
  -webkit-transition: $attribute;
  -moz-transition: $attribute;
  -o-transition: $attribute;
  -ms-transition: $attribute;
  transition: $attribute;
}

@mixin shadow {
  box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.2);
}

@mixin shadow-1 {
  box-shadow: 8px 8px 12px rgba(122, 122, 122, 0.2);
}
