$colors: (
  primary: #1abc9c,
  // primary: #6c5ce7,
  primary-light: #a2ddcd,
  // primary-light: #a29bfe,
  primary-dark: #0a634d,
  // primary-dark: #4b40a1,
  grey: #666666,
  black: #000,
  white: #fff,
  red: #ff5252,
);

$breakpoints: (
  na: 0px,
  // For BS grid
  xs: 320px,
  // Smartphone
  sm: 600px,
  // Tablets
  md: 900px,
  // Tablets Landscape and small desktops
  lg: 1200px,
  // Desktops
  xl: 1800px,
  // Large Desktop
);

$container-max-width: 800px;

$hover-opacity: 0.9;
$active-opacity: 0.6;

$max-width: 700px;

$margin-bottom: 2rem;
